.login {
    height:calc(100vh - 50px);
    display:flex;
    align-items: center;
    justify-content: center;
 
 }
 
 .wrapper {
    /* border: 1px solid black; */
   width: 60%;  
   height: 75%;
   -webkit-box-shadow: 0px 0px 16px 0px rgba(0,0,0,0.75);
     -moz-box-shadow: 0px 0px 16px 0px rgba(0,0,0,0.75);
     box-shadow: 0px 0px 16px 0px rgba(0,0,0,0.75);
     display: flex;
     align-items: center;
     border-radius:20px;
 }
 .left, .right {
   flex: 1;
   display: flex;
   flex-direction: column;
   align-items: center; 
 }
 
 .center{
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center; 
 }
 
 .or{
     border:2px solid rgb(155, 154, 154);
     border-radius:50%;
     padding:10px;
     color:gray;
     background-color:white;
     font-weight:bold;
 }
 .line {
     width: 1px;
     height: 50%;
     background-color:rgb(155, 154, 154);
     position:absolute;
     top:15rem;
     bottom:0;  
     left:0;
     right:0;
     margin:auto;
     z-index: -1;
 }
 
 .loginButton {
     width: 150px;
     padding: 15px 25px;
     border-radius:5px;
     color:white;
     display: flex;
     align-items:center;
     font-weight: bold;
     margin-bottom: 20px;
 }
 
 .google {
     background-color:#df4930;
   
 }
 /* .facebook {
     background-color:#507cc0;
    
 }
 .github {
     background-color:black;
 }    
  */
 .icon {
     width: 20px;
     height: 20px;
     margin-right: 10px;
 }
 input{
    width: 200px;
    padding: 15px 20px; 
    margin-bottom: 20px;
 }
 .submit {
     width: 200px;
     background-color: rgba(128,0,128,0.671);
     color:white;
     font-weight: bold;
     border:none;
     padding:15px 20px;
     border-radius:5px;
 }
 
 .loginTitle {
     position:absolute;
     top: 200px;
     color:black;
 
 }