.carrousel {
    justify-content: center;
    align-items: center;
    width: 30%;
}

.detailLink {
    text-decoration: none;
    color: var(--fontPrimary);
}

.img {
    position: relative;
    height: calc(100%);
    max-height: 170px;
    width: calc(100%);
    object-fit: scale-down;
}

.title {
    font-size: 1em;
}

.price {
    font-size: 1.2em;
}

.rate {
    color: var(--background);
}