.background {
    width: 100%
}

.carrousels {
    display: flex;
    margin: 0 auto;
    max-width: 1300px;
}

.titleContein {
    display: flex;
    justify-content: space-around;
}

.ftTitle {
    margin: 0 0 8px 0;
    font-size: 1.2em;
}

.link {}

.ft {
    display: flex;
    height: 255px;
    width: 50%;
    justify-content: space-evenly;
    margin-right: 1vw;
    animation-name: slide;
    animation-duration: 3060ms;
    animation-iteration-count: infinite;
    animation-direction: normal;
}

@keyframes slide {
    0% {
        opacity: 0%;

    }

    10% {
        opacity: 100%;
    }

    85% {
        opacity: 100%;
    }

    100% {
        opacity: 0%;
    }
}

.ltTitle {
    margin: 0 0 8px 0;
    font-size: 1.2em;
}

.lt {
    display: flex;
    width: 50%;
    height: 255px;
    justify-content: space-evenly;
    margin-left: 1vw;
    animation-name: slide;
    animation-duration: 3060ms;
    animation-iteration-count: infinite;
    animation-direction: normal;
}


.iconsContainer {
    margin: 10px auto 10px;
    width: 1000px;
    display: flex;
    justify-content: space-around;
    flex-direction: row;
}

.iconText {
    float: left;
    padding-right: 50px;
    display: flex;
    text-align: left;
    border-right: 2px solid #666;
    width: fit-content;
}

.icon {
    margin-right: 20px;
}

.iconText div {
    padding: 5px 0;
}

.textGrey {
    font-size: 0.85rem;
    color: #666666;
}

@media screen and (max-width: 1000px) {
    .iconText {
        flex-direction: column;
        padding-right: 0;
        border-right: 0;
    }

    .iconsContainer {
        width: 80%;
        padding-left: 5px;
        padding-right: 5px;
    }
}

@media screen and (max-width:650px) {
    .carrousels {
        display: flex;
        flex-direction: column;
    }

    .ft {
        display: flex;
        width: 100%;
        position: relative;
        flex-wrap: wrap;
        justify-content: space-evenly;
        margin-right: 1vw;
    }

    .lt {
        position: relative;
    }
}