.container {
    width: 100%;
    max-width: 1300px;
    height: auto;
    padding-top: 20px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
}
.logo {
    float: left;
    width: 225px;
    height: fit-content;
}
.logoContainer {
    width: fit-content;
}
.searchBar {
    float: left;
}
.iconsContainer, .icons {
    float: left;
}
.icon {
    color: black;
    margin: 0 10px;
    cursor: pointer;

    transition: 0.2s;
}
.icon:hover {
    color: #F9C801;
}
.login {
    float: left; 
}
.loginLink {
    color: #02354A;
    cursor: pointer;

    transition: 0.2s;
}
.loginLink:hover {
    color: #8C8C8C;
}
.registerLink {
    color: #8C8C8C;
    cursor: pointer;
}
.registerLink:hover {
    color: #02354A;
}

@media screen and (max-width: 1000px) {
    .container {
        display: block;
    }
    .iconsContainer {
        position: absolute;
        right: 11%;
    }
    .searchBar {
        margin-top: 15px;
        width: 100%;
    }
    .iconsContainer {
        margin-top: 10px;
    }
}
@media screen and (max-width: 650px) {
    .logoContainer {
        width: 100%;
        float: left;
        text-align: center;
    }
    .logo {
        float: none;
    }
    .logo {
        width: 195px;
    }
    .icon {
        margin: 0 5px;
    }
    .iconsContainer {
        display: none;
    }
}